body {
  font-family: Arial;
  background-color: #f4f4f4;
}

.login-box {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

button {
  width: 100%;
  padding: 8px;
  background: #007bff;
  color: white;
  border: none;
}

#error {
  color: red;
}
